@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Manrope:wght@600&family=Noto+Sans+Shavian&family=Nunito&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Manrope:wght@600&family=Montserrat&family=Noto+Sans+Shavian&family=Nunito&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primario: rgb(33, 33, 33);
    --color-primario2: rgb(247, 247, 247);
    --color-primario3: rgb(236, 207, 45);
    --color-primario4: #fff;
    --color-botones: rgb(139, 201, 255);
}
html, body{
    min-height: 100vh;
    background-color: var(--color-primario);
    font-family: 'Montserrat', sans-serif;
}

/*navbar*/

.lf__navTag{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--color-primario);
}

.lf__navTag .navTag-ulTag{
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}
.lf__navTag .navTag-ulTag .navTag-ulTag-liTag{
    list-style: none;
    text-decoration: none;
}

.lf__navTag .navTag-ulTag .navTag-ulTag-liTag button{
    background-color: transparent;
    border: none;
}

.lf__navTag .navTag-ulTag .navTag-ulTag-liTag button svg{
    height: 1.6em;
    fill: white;
}

/*header*/
.lf__headerTag{
    display: flex;
    justify-content: center;
    padding: 1.5em;
}
.lf__headerTag .logo svg{
    fill: white;
    height: 1.4em;
}

/*main*/

::-webkit-scrollbar{
    display: none;
}

.elementOfCarrousel {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.containerOfCarrousel {
    display: flex;
    gap: 1em;
    flex-wrap: nowrap;
    overflow: scroll;
    margin: 0 0 0 0;
    padding: 0 0 1em 0;
}

.lf__mainTag{
    display: flex;
    flex-direction: column;
    padding: 2em 1em 4em 1em;
    background-color:var(--color-primario2);
    margin: 0 .7em 5em .7em;
    border-radius: 10px;
    height: 76vh;
    overflow-y: auto;
}

.lf__mainTag .mainTag-header{
    display: flex;
    align-items: center;
}

.lf__mainTag .mainTag-header section.user-info{
    display: flex;
    gap: .5em;
}

.lf__mainTag .mainTag-header section.user-info .user-info__img{
    border: 2px solid var(--color-primario);
    border-radius: 50%;
    height: 3.5em;
    width: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lf__mainTag .mainTag-header section.user-info .user-info__img svg{
    height: 3em;
    fill: var(--color-primario);
}

.lf__mainTag .mainTag-header section.user-info .user-info__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--color-primario);
}
.lf__mainTag .mainTag-header section.user-info .user-info__text .text__updatesCount{
    display: flex;
    gap: .2em;
}
.lf__mainTag .mainTag-header section.user-info .user-info__text .text__updatesCount .text__updates-img{
    display: flex;
    align-items: center;
}
.lf__mainTag .mainTag-header section.user-info .user-info__text .text__updatesCount .text__updates-img svg{
    height: .6em;
    fill: var(--color-primario3);
}
.lf__mainTag .mainTag-header section.user-info .user-info__text .text__updatesCount .text__updates-text{
    font-size: small;
}

/*mainTag-body*/

.mainTag-body{
    display: flex;
    flex-direction: column;
    padding: 2em 0 0 0;
}

/*--seccion de monedas*/

.mainTag-body .mainTag-body__section-monedas .section-monedasElement{
    padding: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    max-width: max-content;
    min-width: 5em;
}
.monedaCaida{
    background-color: #fff;
}
.monedaCaida .numeric{
    color: red;  
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement.monedaCaida .monedasElement-header .logo svg,
.mainTag-body .mainTag-body__section-monedas .section-monedasElement.monedaAlza .monedasElement-header .logo svg{
    fill: var(--color-primario);
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement.monedaCaida .monedasElement-footer .logo svg{
    fill: red;
}
.monedaAlza{
    background-color: var(--color-primario4);
}

.monedaAlza .numeric{
    color: rgb(91, 255, 82);
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement.monedaAlza .monedasElement-footer .logo svg{
    fill: rgb(91, 255, 82);
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-header{
    display: flex;
    gap: .3em;
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-header svg{
    fill: var(--color-primario4);
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-main{
    margin: .4em 0 0 0;
    font-size: 1.7em;
    font-weight: bold;
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-footer, 
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-footer .porcent{
    display: flex;
    
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-footer{
    gap: 1em;
    font-size: .8em;
    margin: .3em 0 0 0;
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-footer svg{
    fill: var(--color-primario4);
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-footer .porcent{
    gap: .4em;
}

/*--section diario*/
.mainTag-body .mainTag-body__sectionDiario{
    background-color: var(--color-primario4);
    border-radius: 1em;
    padding: 1em;
    -webkit-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    margin: 2em 0 0 0;
}

.mainTag-body .mainTag-body__sectionDiario .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1em 0;
}

.mainTag-body .mainTag-body__sectionDiario .sectionDiario-header .title button{
    background-color: transparent;
    border: .5px solid grey; 
    color: grey;
    font-size: 10px;
    border-radius: 1em;
    padding: .4em;
}

.mainTag-body .mainTag-body__sectionDiario .sectionDiario-main{
    margin: .5em 0 0 0;
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.mainTag-body .mainTag-body__sectionDiario .sectionDiario-main h2{
    font-size: 2.5em;
    color: rgb(0, 231, 0);
    font-weight: 100;
}

/*--seccion de noticias*/
.mainTag-body .mainTag-body__sectionNoticias{
    background-color: #fff;
    border-radius: 1em;
    -webkit-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    margin: 1em 0 0 0;
}

.mainTag-body .mainTag-body__sectionNoticias .sectionNoticias-header{
    background-color: var(--color-primario3);
    display: flex;
    align-items: center;
    gap: .5em;
    height: 4em;
    padding: .5em 0 .5em 1em;
    border-radius: 1em 1em 0 0;
}

.mainTag-body .mainTag-body__sectionNoticias .sectionNoticias-header .logo svg{
    height: 1.2em;
}

.mainTag-body .mainTag-body__sectionNoticias .sectionNoticias-main{
    padding: 1em;
    overflow-y: auto;
    height: 12em;
}

.mainTag-body .mainTag-body__sectionNoticias .sectionNoticias-main hr{
    color: var(--color-primario2);
    margin: 1em 0 .8em 0;
}

.mainTag-body .mainTag-body__sectionNoticias .sectionNoticias-main .sectionNoticias__article .article-header{
    margin: 0 0 .8em 0;
}

/*--seccion de novedades*/

.mainTag-body .mainTag-body__sectionNovedades{
    padding: 0 0 1em 0;
    margin: 1em 0 0 0;
}

.mainTag-body .mainTag-body__sectionNovedades .sectionNovedades-element{
    height: 14em;
    background-color: var(--color-primario4);
    border-radius: 1em;
    width: 100%;
    -webkit-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    position: relative;
}

.mainTag-body .mainTag-body__sectionNovedades .sectionNovedades-element .element-header{
    /*background-image: linear-gradient(to right, rgb(122, 5, 122), rgb(201, 14, 201),);*/
    background-image: linear-gradient(to right, rgb(239, 88, 239), rgb(201, 14, 201),rgb(122, 5, 122));
    border-radius: 1em 1em 0 0;
    display: flex;
    align-items: center;
    padding: 1em;
    gap: .4em;
    color: var(--color-primario4);
}

.mainTag-body .mainTag-body__sectionNovedades .sectionNovedades-element .element-header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid var(--color-primario4);
    border-radius: 50%;
    padding: .4em;
}

.mainTag-body .mainTag-body__sectionNovedades .sectionNovedades-element .element-header .logo svg{
    fill: var(--color-primario4);
}

.mainTag-body .mainTag-body__sectionNovedades .sectionNovedades-element .element-main{
    height: max-content;
    padding: 1em 1em 0 1em;
}


.mainTag-body .mainTag-body__sectionNovedades .sectionNovedades-element .element-footer{
    bottom: 0;
    margin: 1.3em 1em 1em 1em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    position: absolute;
}

.mainTag-body .mainTag-body__sectionNovedades .sectionNovedades-element .element-footer button{
    background-color: var(--color-botones);
    border: none;
    border-radius: .3em;
    width: 100%;
    padding: 1em;
    color: var(--color-primario4);
}

/*--secction de ultimos movimientos*/

.mainTag-body .mainTagBody__sectionMovimientos{
    background-color: var(--color-primario4);
    border-radius: 1em;
    padding: 1em;
    -webkit-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    margin: 1em 0 0 0;
}
.mainTag-body .mainTagBody__sectionMovimientos .sectionMovimientos-header{
    display: flex;
    justify-content: space-between;
}

.mainTag-body .mainTagBody__sectionMovimientos .sectionMovimientos-header .text{
    display: flex;
    align-items: center;
    gap: .3em;
    font-weight: bold;
    font-size: small;
    fill: var(--color-botones);
    color: var(--color-botones);
}

.mainTag-body .mainTagBody__sectionMovimientos .sectionMovimientos-header .text .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionMovimientos-main{
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.sectionMovimientos-main .sectionMovimientos-main-element{
    display: flex;
    align-items: center;
    margin: 1em 0 0 0;
    height: min-content; 
    gap: .5em;
}

.sectionMovimientos-main .sectionMovimientos-main-element .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: .5px solid rgb(209, 209, 209);
    padding: .5em;
}

.sectionMovimientos-main .sectionMovimientos-main-element .texto{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sectionMovimientos-main .sectionMovimientos-main-element .texto .texto-dato{
    display: flex;
    justify-content: space-between;
    font-size: .9em;
}

.sectionMovimientos-main .sectionMovimientos-main-element .texto .texto-dato .nombre{
    color: grey;
}

.sectionMovimientos-main .sectionMovimientos-main-element .texto .texto-dato .valor{
    font-size: .8em;
}

/*HTML DE MENSAJES*/

.paginaMensajes.lf__mainTag hr{
    margin: 1em 0 1em 0;
}

.paginaMensajes.lf__mainTag .lf__messages__historialTransacciones{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.paginaMensajes.lf__mainTag .lf__messages__historialTransacciones .historialTransacciones-element{
    display: grid;
    grid-template-columns: 20% 40% 10% 20% 10%;
}

.paginaMensajes.lf__mainTag .lf__messages__historialTransacciones .historialTransacciones-element .element-foto{
    border-radius: 100%;
    border: 1px solid gray;
    height: 3em;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginaMensajes.lf__mainTag .lf__messages__historialTransacciones .historialTransacciones-element .element-foto svg{
    height: 1.7em;
}

.paginaMensajes.lf__mainTag .lf__messages__historialTransacciones .historialTransacciones-element .element-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.paginaMensajes.lf__mainTag .lf__messages__historialTransacciones .historialTransacciones-element .element-texto .element-texto-fecha{
    color: grey;
}

/* .textWhitEllipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
} */

.operacionRealizada{
    background-color: rgb(125, 250, 125);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    align-self: center;
}

.operacionEnCurso{
    background-color: rgb(255, 198, 52);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    align-self: center;
}

.paginaMensajes.lf__mainTag .lf__messages__historialTransacciones .historialTransacciones-element .element-monto{
    align-self: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.paginaMensajes.lf__mainTag .lf__messages__historialTransacciones .historialTransacciones-element .element-button{
    align-self: center;
    justify-self: center;
}

.paginaMensajes.lf__mainTag .lf__messages__historialTransacciones .historialTransacciones-element .element-button button{
    border: none;
    background-color: transparent;
}

.paginaMensajes.lf__mainTag .lf__messages__historialTransacciones .historialTransacciones-element .element-button button svg{
    height: 1.2em;
}




@media (width >= 770px){
    .gridBody{
        display: grid;
        grid-template-columns: 10% 90%;    
        height: 100vh;
        padding: 1.2em .4em 1.2em 0;
    }
    /*--scrollbar*/
    ::-webkit-scrollbar{
        display: block;
        background-color: var(--color-primario2);
    }
    ::-webkit-scrollbar-thumb{
        background-color: rgb(233, 233, 233);
        height: 10px;
        border-radius: 10px;
        transition: .7s;
    }
    ::-webkit-scrollbar-thumb:hover{
        background-color: rgb(192, 192, 192);
    }
    
    ::-webkit-scrollbar-corner{
        display: 0;
    }
    /*--header*/
    .lf__headerTag{
        height: min-content;
    }
    .lf__headerTag .logo{
        border-radius: 50%;
        background-color: var(--color-primario4);
        padding: .5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lf__headerTag .logo svg{
        fill: var(--color-primario);
    }
    /*--navbar*/
    .lf__navTag{
        left: 0;
        top: 0;
        width: 10%;
        margin: 6em 0 0 0;
    }

    .lf__navTag .navTag-ulTag{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    .lf__navTag .navTag-ulTag .navTag-ulTag-liTag button svg{
        height: 2.3em;
    }
    

    /*--main*/
    .lf__mainTag{
        height: 100%
    }

    .mainTag-body{
        display: grid;
        grid-template-columns: 66% 33%;
        grid-template-rows: 20% 40% 40%;
        gap: 1em;
    }
    .mainTag-body section:nth-child(1){
        grid-column: 1/3;
    }
    .mainTag-body section:nth-child(2){
        grid-column: 1;
    }
    .mainTag-body section:nth-child(3){
        grid-column: 2;
        grid-row: 2;
    }
    .mainTag-body section:nth-child(4){
        grid-column: 1;
    }
    .mainTag-body section:nth-child(5){
        grid-column: 2;
    }
    .mainTag-body .mainTag-body__sectionNoticias, 
    .mainTag-body .mainTag-body__sectionDiario,
    .mainTag-body .mainTag-body__sectionNovedades,
    .mainTag-body .mainTagBody__sectionMovimientos{
        margin: 0 0 0 0;
    }

    /*--seccion diario*/
    
    .mainTag-body .mainTag-body__sectionDiario .title{
        margin: 0 0 2em 0;
    }
    
    .mainTag-body .mainTag-body__sectionDiario .title h4{
        font-size: 2em;
    }

    .mainTag-body .mainTag-body__sectionDiario .subtitle h6,
    .mainTag-body .mainTag-body__sectionDiario .sectionDiario-main h6{
        font-size: 1.2em;
        font-weight: 100;
    }

    .mainTag-body .mainTag-body__sectionDiario .sectionDiario-header .title button{
        font-size: 1em;
    }
    
    .mainTag-body .mainTag-body__sectionDiario .sectionDiario-main h2{
        font-size: 4em;
        font-weight: bolder;
    }
}

