@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Manrope:wght@600&family=Noto+Sans+Shavian&family=Nunito&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Manrope:wght@600&family=Montserrat&family=Noto+Sans+Shavian&family=Nunito&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primario: rgb(33, 33, 33);
    --color-primario2: rgb(247, 247, 247);
    --color-primario3: rgb(236, 207, 45);
    --color-primario4: #fff;
}
html, body{
    min-height: 100vh;
    background-color: var(--color-primario);
    font-family: 'Montserrat', sans-serif;
}

/*navbar*/

.lf__navTag{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: var(--color-primario);
}

.lf__navTag .navTag-ulTag{
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}
.lf__navTag .navTag-ulTag .navTag-ulTag-liTag{
    list-style: none;
    text-decoration: none;
}

.lf__navTag .navTag-ulTag .navTag-ulTag-liTag button{
    background-color: transparent;
    border: none;
}

.lf__navTag .navTag-ulTag .navTag-ulTag-liTag button svg{
    height: 1.6em;
    fill: white;
}

/*header*/
.lf__headerTag{
    display: flex;
    justify-content: center;
    padding: 1.5em;
}
.lf__headerTag .logo svg{
    fill: white;
    height: 1.4em;
}

/*main*/

::-webkit-scrollbar{
    display: none;
}

.elementOfCarrousel {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.containerOfCarrousel {
    display: flex;
    gap: 1em;
    flex-wrap: nowrap;
    overflow: scroll;
    padding: 0 0 2em 0;
}

.lf__mainTag{
    display: flex;
    flex-direction: column;
    padding: 2em 1em 4em 1em;
    background-color:var(--color-primario2);
    margin: 0 .7em 5em .7em;
    border-radius: 10px;
    height: 76vh;
    overflow-y: auto;
}

.lf__mainTag .mainTag-header{
    display: flex;
    align-items: center;
}

.lf__mainTag .mainTag-header section.user-info{
    display: flex;
    gap: .5em;
}

.lf__mainTag .mainTag-header section.user-info .user-info__img{
    border: 2px solid var(--color-primario);
    border-radius: 50%;
    height: 3.5em;
    width: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lf__mainTag .mainTag-header section.user-info .user-info__img svg{
    height: 3em;
    fill: var(--color-primario);
}

.lf__mainTag .mainTag-header section.user-info .user-info__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--color-primario);
}
.lf__mainTag .mainTag-header section.user-info .user-info__text .text__updatesCount{
    display: flex;
    gap: .2em;
}
.lf__mainTag .mainTag-header section.user-info .user-info__text .text__updatesCount .text__updates-img{
    display: flex;
    align-items: center;
}
.lf__mainTag .mainTag-header section.user-info .user-info__text .text__updatesCount .text__updates-img svg{
    height: .6em;
    fill: var(--color-primario3);
}
.lf__mainTag .mainTag-header section.user-info .user-info__text .text__updatesCount .text__updates-text{
    font-size: small;
}

/*mainTag-body*/

.mainTag-body{
    display: flex;
    flex-direction: column;
    padding: 2em 0 0 0;
}
.mainTag-body .mainTag-body__section-monedas{

}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement{
    padding: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    max-width: max-content;
    min-width: 5em;
}
.monedaCaida{
    background-color: #fff;
}
.monedaCaida .numeric{
    color: red;  
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement.monedaCaida .monedasElement-header .logo svg,
.mainTag-body .mainTag-body__section-monedas .section-monedasElement.monedaAlza .monedasElement-header .logo svg{
    fill: var(--color-primario);
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement.monedaCaida .monedasElement-footer .logo svg{
    fill: red;
}
.monedaAlza{
    background-color: var(--color-primario4);
}

.monedaAlza .numeric{
    color: rgb(91, 255, 82);
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement.monedaAlza .monedasElement-footer .logo svg{
    fill: rgb(91, 255, 82);
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-header{
    display: flex;
    gap: .3em;
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-header svg{
    fill: var(--color-primario4);
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-main{
    margin: .4em 0 0 0;
    font-size: 1.7em;
    font-weight: bold;
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-footer, 
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-footer .porcent{
    display: flex;
    
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-footer{
    gap: 1em;
    font-size: .8em;
    margin: .3em 0 0 0;
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-footer svg{
    fill: var(--color-primario4);
}
.mainTag-body .mainTag-body__section-monedas .section-monedasElement .monedasElement-footer .porcent{
    gap: .4em;
}

/*--section diario*/
.mainTag-body .mainTag-body__sectionDiario{
    background-color: var(--color-primario4);
    border-radius: 1em;
    padding: 1em;
    -webkit-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
}

.mainTag-body .mainTag-body__sectionDiario .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1em 0;
}

.mainTag-body .mainTag-body__sectionDiario .sectionDiario-header .title button{
    background-color: transparent;
    border: .5px solid grey; 
    color: grey;
    font-size: 10px;
    border-radius: .7em;
    padding: .2em;
}

.mainTag-body .mainTag-body__sectionDiario .sectionDiario-main{
    margin: .5em 0 0 0;
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.mainTag-body .mainTag-body__sectionDiario .sectionDiario-main h2{
    font-size: 2.5em;
    color: rgb(0, 231, 0);
    font-weight: 100;
}

/*--seccion de noticias*/
.mainTag-body .mainTag-body__sectionNoticias{
    background-color: #fff;
    border-radius: 1em;
    -webkit-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    box-shadow: 0px 4px 14px -4px rgba(0,0,0,0.31);
    margin: 1em 0 0 0;
}

.mainTag-body .mainTag-body__sectionNoticias .sectionNoticias-header{
    background-color: var(--color-primario3);
    display: flex;
    align-items: center;
    gap: .5em;
    height: 4em;
    padding: .5em 0 .5em 1em;
    border-radius: 1em 1em 0 0;
}

.mainTag-body .mainTag-body__sectionNoticias .sectionNoticias-header .logo svg{
    height: 1.2em;
}

.mainTag-body .mainTag-body__sectionNoticias .sectionNoticias-main{
    padding: 1em;
    overflow-y: auto;
    height: 12em;
}

.mainTag-body .mainTag-body__sectionNoticias .sectionNoticias-main hr{
    color: var(--color-primario2);
    margin: 1em 0 .8em 0;
}

.mainTag-body .mainTag-body__sectionNoticias .sectionNoticias-main .sectionNoticias__article .article-header{
    margin: 0 0 .8em 0;
}

/*--seccion de novedades*/

.mainTag-body .mainTag-body__sectionNovedades .sectionNovedades-element{
    height: 9em;
    background-color: var(--color-primario4);
    margin: 1em 0 0 0;
    border-radius: 1em;
    width: 80vw;
}

.mainTag-body .mainTag-body__sectionNovedades .sectionNovedades-element .element-header{
    
}

@media (width > 770){

}


